.navbar-default{
  background-color: white;
}

.navbar-default .navbar-nav>.active>a{
  background-color: white;
}

*{
  background-color: white;
}

.navbar-brand img{
  width: 20px;
  margin: 5px;
}

.my-btn{
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 25%;
}

.btn-group{
  margin: 10px;
}

.navbar-default .navbar-nav>li>a{
  margin: 10px;
}

.active{
  display: block;
}
